html{
    font-family: 'Cinzel', serif;
}

body{
    max-width: 100vw;
    height: fit-content;
}

.container{
    width: 100%;
    text-align: center;
}

.header img{
    width: 4vw;
}

.set1{
    width: 30%;
    border: 50px solid transparent;
    padding: 0;
    margin: 2%;
    border-image: url(frames/istockphoto-162714310-612x612.jpg) 62 round;
}