html {
  font-family: "Cinzel", serif;
}

body {
  max-width: 100vw;
  height: fit-content;
  margin: 0;
}

.container {
  width: 100%;
  text-align: center;
  margin: 3% 0%;
}

.header img {
  margin-top: 1%;
  width: 4vw;
}

.set1 {
  width: 30%;
}

.mydiv {
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  margin-left: 20%;
  margin-right: 20%;
}

.mydiv div {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.mydiv img {
  margin: 2% 0%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.fancy-border {
  border: 15px solid #b88846;
  background-color: #d79c4aa6;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E")
    25;
}

.skirtCon{
    display: flex;
}

.wrapper {
  width: 50%;
}
.wrapper2 {
    width: 50%;
    float: right;
  }
.layer1 {
  height: 10px;
  width: 100%;
  float: right;
  border-bottom-left-radius: 8px;
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #cccccc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  /* IE6-9 */
}
.layer2 {
  height: 30px;
  width: 93%;
  float: right;
  border-bottom-left-radius: 25px;
  background: #b5b5b5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b5b5b5 0%, #eeeeee 48%, #cccccc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #b5b5b5 0%,
    #eeeeee 48%,
    #cccccc 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b5b5b5 0%, #eeeeee 48%, #cccccc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#cccccc', GradientType=0);
  /* IE6-9 */
}
.layer3 {
  height: 20px;
  width: 76%;
  float: right;
  border-bottom-left-radius: 15px;
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  /* IE6-9 */
}

.layer4 {
    height: 10px;
    width: 100%;
    float: left;
    border-bottom-right-radius: 8px;
    background: #eeeeee;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #cccccc 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
    /* IE6-9 */
  }
  .layer5 {
    height: 30px;
    width: 93%;
    float: left;
    border-bottom-right-radius: 25px;
    background: #b5b5b5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b5b5b5 0%, #eeeeee 48%, #cccccc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #b5b5b5 0%,
      #eeeeee 48%,
      #cccccc 100%
    );
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b5b5b5 0%, #eeeeee 48%, #cccccc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#cccccc', GradientType=0);
    /* IE6-9 */
  }
  .layer6 {
    height: 20px;
    width: 76%;
    float: left;
    border-bottom-right-radius: 15px;
    background: #eeeeee;
    /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
    /* IE6-9 */
  }