html{
    font-family: 'Cinzel', serif;
    background-image: url(Logo/wallpaper.jpg);
}

body{
    max-width: 100vw;
    height: fit-content;
}

.container{
    width: 100%;
    text-align: center;
}

.header img{
    width: 4vw;
}

.set1{
    width: 30%;
}

.mydiv{
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    margin-left: 20%;
    margin-right: 20%;
    
}

.mydiv div{
    height:fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.mydiv img{
    margin: 2% 0% ;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fancy-border {
    border: 15px solid #B88846;
    background-color: #d79c4aa6;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
  }