@font-face {
  font-family: 'Cinzel';
  src:  '../fonts/static/Cinzel-Regular.ttf';
}

@font-face {
  font-family: 'CodePro';
  src:  '../fonts/static/SourceCodePro-Medium.ttf';
}

h1, h2, h3, h4{
  font-family: 'Cinzel', Courier, monospace;
}

p{
  font-family: 'CodePro', Courier, monospace;
}

.MenuButtons {
  grid-template-columns: auto auto auto auto auto auto;
  width: fit-content;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Peice{
  background-color: #ddd;
}

.Peice:hover{
  transform: scale(150%);
  box-shadow: 0 12px 24px 0 rgba(255, 92, 247, 0.356);
}